<!DOCTYPE html>
<html>
<body>

<h1>Choose your painting and I will say to which style has more similarity</h1>

<p>This is a webpage for every painter that want to test his style of painting.
    Don't be shy and upload your image.
</p>

<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Juan_Gris_003.jpg/240px-Juan_Gris_003.jpg" alt ="prueba ">
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="archivo">
    <input type="submit">
   </form>
</body>
</html>

